@media (min-width: 1024px) {
    
}


@media (max-width: 1023px) and (min-width: 768px) {
  
}


@media (max-width: 767px) {
  
}

 .about {
   background-color: white;
 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgb(12, 177, 169);
   display: flex;
   justify-content: space-around;
   /*this will space out the letters in the
  navigation bar*/

 }

 h1 {
   text-align: center;
 }

 .btn-primary {
   background-color: #1e62a1;
   border-color: #1456ad;
   margin-left: 16px ;
 }

 .flex-container {
   display: flex;
   justify-content: flex-start;
   margin-top: 10px;
   margin-bottom: 12px;
   margin-right: 10px;
   margin-left: 2px;
   
 }

 li {
   float: left;

 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;

 }

 .objname {
   padding-top: 4px;
   font-size: 1.2rem;
   font-weight: bold;
   color: rgb(0, 119, 128);
   width: 50px;
   padding: 20px;
   margin: 5px;
   white-space: nowrap;
   text-overflow: clip;
   text-decoration: underline;
 }

 /*  in the objname class whe whitespace  property  no wrap keeps the text 
from breaking to a second line it keeps everything on the same line*/

 .objitem {
   padding-top: 20px;
   padding-left: 25px;
   padding-right: 35px;
   padding-bottom: 15px;
   display: flex;
   flex-direction: column;

   color: white;

 }

 .Academia {
   padding-top: 10px;
   margin-bottom: 8px;
   font-family: v;

 }

 .objitem img {
   box-shadow: 3rem;
   height: auto;
   max-width: 80%;

 }

 .flex-container {
   display: flex;
   flex-wrap: wrap;
   margin: 10px;
   padding: 5px;

 }



 .flex-contain {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background-color: rgb(255, 255, 255);
 }

 .row1 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 30px;
   margin-left: 20px;
   margin-right: 20px;

 }

 /*
  row1 class will make the card component into a row
  and make them side by side to each other and also add space in between each card
  so that they are not bunched together.
  */

 .Auth-form {
    
  border: 3px solid white;
  color: white;
  padding: 18px;
  margin: 300px;
  width: 300px;
 }


 label {
   color: white;
 }

 html,
 body {
   height: 100%;
   margin: 0px;
   padding: 0px;
   background-color: white;

 }

 .textfont1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   line-height: 2;
 }

 .center {
   margin: auto;
   width: 10%;
   margin-top: 40px;
   display: table;
   color: black;
   font-size: 50px;
   font-family: v;
 }

 .logn1 {
   background-color: #282c34;
 }


 .Auth-form-container {
   display: table;
   width: 500px;
   margin: auto;
   max-width: 90%;
   margin-top: 180px;
   /*this margin top css will put the form in the center
   of the page*/

 }

 .Auth-form {
   display: table-cell;
   vertical-align: middle;

 }

 h3 {
   color: #61dafb;

 }