 
 
 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgb(12, 177, 169);
   display: flex;
   justify-content: space-around;
   /*this will space out the letters in the
  navigation bar*/

 }
 h1{
  text-align: center;
 }

 .btn-primary {
   background-color: #1e62a1;
   border-color: #1456ad;

 }

 .flex-container {
   display: flex;
   justify-content: flex-start;
   margin-top: 11px;
   margin-bottom: 15px;
   margin-right: 10px;
   margin-left: 2px;

 }

 li {
   float: left;

 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;

 }


 .Auth-form {
   border-radius: 20px;
   border: 3px solid white;
   color: white;
   padding: 18px;
   margin: 300px;
   width: 300px;
 }


 label {
   color: white;
 }

 html,
 body {
   background-color: #282c34;
   height: 100%;
   margin: 0px;
   padding: 0px;
   
   
 }


 
  

 .Auth-form-container {
   display: table;
   width: 500px;
   margin: auto;
   max-width: 90%;
   margin-top: 180px;
   /*this margin top css will put the form in the center
   of the page*/
   
 }

 .Auth-form {
   display: table-cell;
   vertical-align: middle;

 }

 h3 {
   color: #61dafb;

 }